@use "../../colors/systemColors" as sysColors;

.consultn-card {
  background-color: sysColors.$card-bg-color;
  border-radius: 8px;
  padding: 18px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom:10px;
  width: 250px;
  height:auto;
  position: relative; // Add this for positioning the spinner
  &:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.377);
  }
}

.consultn-img {
  width: 70%;
  height: 50%;
  object-fit: cover;
  border-radius: 50%;
  &.hidden
{
  display: none;
}
}

.consultn-name {
  font-size: 1.2rem;
  margin-top: 10px;
}

.consultn-specialize {
  color: #61666b;
  font-weight: 500;
  font-size: 0.9rem;
  margin: 6px;
  text-transform: uppercase;
}

.appointment-button {
  background-color: sysColors.$primary-color;
  color: white;
  border-radius: 7px;
  padding: 10px 10px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;
  justify-content: center;
  &:hover {
    background-color: sysColors.$primary-color-hover;
  }
  
}

.appointment-icon {
  margin-right: 5px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid sysColors.$primary-color;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
